@use "../styles/variables" as *;
@use "../styles/mixins" as*;

.clientStyle {
  margin: $indent__l 0px;

  &__title {
    padding: $indent__l;
  }

  &__add {
    padding: $indent__m $indent__xl;
    margin: 0px $indent__m;
    text-align: left;
  }

  // &__button {
  //   border: 2px solid $color-goldenrod;
  //   border-radius: 50%;
  //   cursor: pointer;
  //   font-size: $font-size__l;
  //   padding: $indent__base $indent__m;
  // }

  // &__button:hover {
  //   background-color: $color-goldenrod;
  //   border: 2px solid $color-body-display;
  // }

  &__button {
  display: flex;
  align-items: center;
  gap: 8px;

  border: none;
  border-radius: 10px;

  padding: 12px 18px;

  background: $color-goldenrod;
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.2s ease;

 &:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

&:active {
  transform: scale(1.02);
}
}
}
.clientListStyle {
  margin: 0 $indent__xl;
}
