@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.machinesStyle {

  padding: $indent__l;

  &__top {
    @include flexbox;

    align-items: center;

    margin-bottom: $indent__l;

    @include responsive-mobile {
      flex-direction: column;
      //align-items: flex-start;

      gap: $indent__base;
    }
  }

  &__title {
    font-size: $font-size__l;

    color: $color-lynx-black;
  }

  &__actions {
    display: flex;

    gap: $indent__s;
  }

  &__grid {
    @include gridbox(320px);

    gap: $indent__m;
  }

  &__createButton {
     display: flex;
    align-items: center;

    gap: 8px;

    border: none;
    border-radius: 10px;

    padding: 12px 18px;

    background: $color-goldenrod;
    color: white;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.02);

      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
    }

    &:active {
      transform: scale(1.02);
    }
  }
}