@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.newTreatmentStyle {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: $indent__m;
  padding: $indent__l;

  @include responsive-mobile {
    grid-template-columns: 1fr;
  }
}

.newTreatmentStyle__left {
  display: flex;
  flex-direction: column;
  gap: $indent__s;
}

.sessionHeader {
  @include flexbox;
  align-items: center;
  background: white;
  border: 1px solid $color-dark-outline;
  border-radius: 12px;
  padding: $indent__m;
  margin-bottom: $indent__m;

  @include responsive-mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: $indent__m;
  }
  h1 {
    margin: 0;
    color: $color-body-display;
  }

  p {
    margin: 0;
    color: $color-dark-outline;
  }
}

.treatmentCard {
  background-color: white;
  border: 1px solid $color-dark-outline;
  border-radius: 12px;
  padding: $indent__m;
  display: flex;
  flex-direction: column;
  gap: $indent__m;
  
 h3, h2 {
    color: $color-body-display;
    font-size: $font-size__m;
    margin: 0;
  }
}

.priceSection {
  @include gridbox(180px);
  gap: $indent__m;
}

.treatmentCard input,
.treatmentCard select,
.treatmentCard textarea {
  width: 100%;
  padding: $indent__s;
  border: 1px solid $color-dark-outline;
  border-radius: 8px;
  font-family: $font-montserrat;
}

.treatmentCard textarea {
  resize: vertical;
  min-height: 120px;
}

.newTreatmentStyle__right {
  position: sticky;
  top: $indent__m;
  align-self: start;
}

.sessionSummary {
  background-color: white;
  border-left: 4px solid $color-goldenrod;
  border-radius: 12px;
  padding: $indent__m;
  top: $indent__m;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.medicalHistoryButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 8px;
  border: none;
  border-radius: 10px;

  padding: 12px 18px;

  background: $color-goldenrod;
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  width: 100%;
  margin-top: $indent__base;
  transition: all 0.2s ease;
  text-align: center;

  &:hover {
    transform: scale(1.02);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
  }

  &:active {
    transform: scale(1.02);
  }
}

.sessionSummary h2 {
  color: $color-goldenrod;
  margin-top: 0;
}

.sessionSummary strong {
  color: $color-body-display;
}

.addButton {
  background-color: $color-goldenrod;
  color: white;
  border: none;
  border-radius: 8px;
  padding: $indent__s $indent__m;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  width: 50%;
  margin: auto;
}

.addButton:hover {
  opacity: 0.9;
}

.removeButton {
  background: transparent;
  border: 1px solid $color-goldenrod;
  border-radius: 8px;
  padding: $indent__s $indent__m;
  color: $color-body-display;
  cursor: pointer;
  margin-top: $indent__m;

  transition: 0.2s ease;
}

.removeButton:hover {
  background-color: $color-goldenrod;
  opacity: 0.7;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.saveButton {
  background: transparent;
  border: 2px solid $color-goldenrod;
  border-radius: 8px;
  padding: $indent__s $indent__m;
  cursor: pointer;
}

.saveButton:hover {
  background-color: $color-goldenrod;
  color: white;
  font-weight: 600;
}

.statusDone {
  color: green;
}

.statusWarning {
  color: red;
}

.iconWrapper {
font-size: 25px;
}

.buttonContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonTitle {
  font-weight: 600;
}

.buttonSubtitle {
  font-size: 14px;
  color: $color-dark-outline;
}