@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.oneClientStyle {
  max-width: 1200px;
  margin: $indent__l auto;
  //padding: 0 $indent__m;

  display: flex;
  gap: $indent__s;
  align-items: flex-start;
}

/* LEFT SIDE */
.oneClientStyle__left {
  width: 25%;
  min-width: 280px;
  position: sticky;
  top: 20px;
}

/* CARD */
.oneClientStyle__card {
  border-radius: 12px;
  padding: $indent__m;
  background: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  border: 1px solid #e6e6e6;
}

/* AVATAR AREA */
.oneClientStyle__avatarWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: $indent__m;
}

.oneClientStyle__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: $color-goldenrod;
  border: 2px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;

  user-select: none;
}

/* NAME */
.oneClientStyle__name {
  text-align: center;
  font-variant-caps: all-small-caps;
  margin-bottom: $indent__m;
}

/* INFO */
.oneClientStyle__info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    margin: 0;
    font-size: 14px;
  }
}

/* RIGHT SIDE */
.oneClientStyle__right {
  flex: 1;
  min-height: 500px;

  border-radius: 12px;
  padding: $indent__m;
  background: #fafafa;
  border: 1px solid #e6e6e6;
}

/* HEADER */
.oneClientStyle__header {
  // margin-bottom: $indent__m;

  // h2 {
  //   margin: 0;
  // }
  @include flexbox;
  align-items: center;
  margin-bottom: $indent__l;

  @include responsive-mobile {
    flex-direction: column;
    gap: $indent__base;
  }
}

.oneClientStyle__title {
  font-size: $font-size__m;
  color: $color-lynx-black;
}
.oneClientStyle__meny {
  display: flex;
  gap: $indent__base;
}
.oneClientStyle__button {
  display: flex;
  align-items: center;

  gap: 8px;

  border: none;
  border-radius: 10px;

  padding: 12px 18px;

  background: $color-goldenrod;
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.02);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
  }

  &:active {
    transform: scale(1.02);
  }
}

/* EMPTY STATE */
.oneClientStyle__emptyState {
  margin-top: $indent__l;
  text-align: center;
  color: #777;

  p {
    font-size: 16px;
    margin-bottom: 6px;
  }

  span {
    font-size: 13px;
    opacity: 0.7;
  }
}
