@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;



.machineSettings {
  display: flex;
  flex-direction: column;
  gap: $indent__m;

  button {
    align-self: flex-start;

    padding: 6px 10px;

    background: white;
    color: $color-body-display;

    border: 1px solid $color-dark-outline;
    border-radius: 10px;

    font-family: $font-montserrat;
    font-size: $font-size__s;
    font-weight: 600;

    cursor: pointer;

    &:hover {
      background: $color-goldenrod;
      color: white;
      border-color: $color-goldenrod;
    }
  }
}

.machineCard {
  padding: $indent__m;
  border: 1px solid $color-dark-outline;
  border-radius: 16px;
  background: #fafafa;
}

.machineCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $indent__m;
  margin-bottom: $indent__m;

   button {
    padding: 6px 10px;

    background: white;
    color: $color-body-display;

    border: 1px solid $color-dark-outline;
    border-radius: 10px;

    font-family: $font-montserrat;
    font-size: $font-size__s;
    font-weight: 600;

    cursor: pointer;

    &:hover {
      background: $color-goldenrod;
      color: white;
      border-color: $color-goldenrod;
    }
  }
}