

@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal {
  width: 80%;
  max-width: 1100px;
  
  background-color: $color-bg;
  border-radius: 12px;

  padding: $indent__l;

  overflow-y: auto;

  position: relative;

}

.closeButton {
  position: absolute;

  top: $indent__base;
  right: $indent__base;

  background: transparent;
  border: none;

  font-size: $font-size__m;
  cursor: pointer;

  color: $color-text;
}

.title {
  margin-bottom: $indent__m;
  color: $color-text;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: $indent__s;
  cursor: pointer;
}

.booleanSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $indent__l;
 
  @include responsive-mobile {
    grid-template-columns: 1fr;
  }
}

.group {
  display: flex;
  flex-direction: column;
  gap: $indent__s;

  h3 {
    margin-bottom: $indent__s;
    font-size: $font-size__base;
    color: $color-body-display;
    border-bottom: 1px solid $color-dark-outline;
    padding-bottom: $indent__s;
  }
}

// .detailSection {
//   display: flex;
//   flex-direction: column;
//   gap: $indent__base;

//   margin-bottom: $indent__l;
// }

.detailField {
  // margin-left: $indent__m;
  // margin-top: $indent__s;
  // margin-bottom: $indent__base;

  input {
    width: 100%;

    padding: $indent__s;
    border: 1px solid $color-dark-outline;
    border-radius: 6px;

    font-family: $font-montserrat;
    //font-size: $font-size__base;

    background-color: white;

    &:focus {
      outline: none;
      border-color: $color-goldenrod;
      box-shadow: 0 0 0 2px rgba(210, 170, 55, 0.15);
    }

    &::placeholder {
      color: $color-body-display;
      font-style: italic;
    }
  }
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: $indent__base;

  margin-bottom: $indent__l;
}

.buttonSection {
  display: flex;
  justify-content: flex-end;
  gap: $indent__base;
}