*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(https://assets-global.website-files.com/6394edc1cd797257200998bc/6395fa53027db002c510eef5_SHADOW%202.webp);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }