@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal {
  width: 80%;
  max-width: 1100px;

  max-height: 90vh;

  background-color: $color-bg;
  border-radius: 12px;

  padding: $indent__l;

  overflow-y: auto;

  position: relative;
  display: flex;
  flex-direction: column;
}

.closeButton {
  position: absolute;

  top: $indent__base;
  right: $indent__base;

  background: transparent;
  border: none;

  font-size: $font-size__m;
  cursor: pointer;

  color: $color-text;
}

.title {
  margin-bottom: $indent__m;
  color: $color-text;
}


.buttonSection {
  margin-top: $indent__m;

  display: flex;
  justify-content: flex-end;
  gap: $indent__base;

  //border-top: 1px solid $color-dark-outline;
  padding-top: $indent__s;
}

.saveButton {
  background-color: $color-goldenrod;
  color: white;

  border: none;
  border-radius: 8px;

  padding: $indent__s $indent__m;

  font-family: $font-montserrat;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s ease;

  &:hover {
    opacity: 0.7;
  }
}

.cancelButton {
  background: transparent;

  border: 1px solid $color-dark-outline;
  border-radius: 8px;

  padding: $indent__s $indent__m;

  font-family: $font-montserrat;

  cursor: pointer;

  &:hover {
    background-color: #d7d7d7;
  }
}

.modalHeader {
  padding: $indent__s;
  border-bottom: 1px solid $color-dark-outline;

  flex-shrink: 0;
}
.modalBody {
  overflow-y: auto;
  padding: $indent__l;
}
